div .spot {
	float: left;
	width: 40px;
	height: 60px;
	border: 1px solid #556270;
	border-width: 1px 1px 0px 0px;
	transition: background-color 0.1s;
}

.spot.free{
	background-color: #C7F464;
}

.spot.taken{
	background-color: #FF6B6B;
}

.spot.road{
	background-color: #556270;
}

.spot.plan:after{
	text-align: center;
	margin: 20px auto;
	display: block;
    content: ' \25CF';
    font-size: 20px;
    color: #FFF;
}

.spot.plan.up:after{
    content: '\25B2';
}

.spot.plan.down:after{
	content: '\25BC';
}

.spot.plan.left:after{
	content: '\25C0';
}

.spot.plan.right:after{
	content: '\25BA';
}

.spot.plan.car:after{
	color: #4ECDC4;
}

.spot.path{
}

div .clearrow {
	clear: both;
}