body {
	font-family: Helvetica, Arial;
}

h1 {
	margin: 0.67em 0 0.2em;
}

.light {
	font-weight: 300;
}

.subhead {
	font-weight: 300;
	margin-bottom: 2em;
}

.subhead emph {
	font-weight: 600;
}

.sidebar {
	text-align: right;
	padding-right:2%;
}

.sidebar h3 {
	font-size:16pt;
	font-weight: 400;
	margin:0.5em 0 0.2em;
}

.sidebar h4 {
	font-size: 15pt;
	font-weight: 300;
	margin:0.2em 0 0.2em;
}

.sidebar p {
	font-size: 14pt;
	font-weight: 300;
}

.sidebar img {
	width: 98%;
	margin-top: 130px;
}

.home {
	position:relative;
}

.home .content .btn {
	position:absolute;
	top:375px;
	left:55%;
}